body{
  margin:0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  font-family: monospace;
}

#res {
  width: 90%;
  box-sizing: border-box;
  box-shadow: 1px 1px;
  font-size: 30px;
  background-color: rgb(233, 136, 0);
}
  
#res:hover {
  background-color: rgb(207, 121, 2);
  cursor: pointer;
}
